<%- include('partials/header') %>
    <h1>About</h1>
    <h4 style="margin: 20px 0;">We are here to boost up you and help to grow you by Reading and Writing the Beautiful Blog Of our Successful and Experienced Users !</h4>
    <p>
        <%= aboutPage %>
    </p>
    <%- include('partials/footer') %>