<%- include('partials/header') %>
    <h1><b><i>Get in touch</i></b></h1>
    <p style="margin: 20px 0; font-weight: 500;">
        <%= contactPage %>
    </p>

    <a href=""><button class="btn btn-info">linkedin</button></a>
    <button class="btn btn-info">Twitter</button>
    <button class="btn btn-info">Instagram</button>
    
    <%- include('partials/footer') %>